---
layout: default
---

{{ content }}

{% include papers.html %}

<section class="row g-5 mb-5" aria-labelledby="dissertation-heading">
  <div>
    <h2 id="dissertation-heading" class="h3 fw-bold border-bottom pb-3 mb-4">Dissertation</h2>
    <h3 class="h5"><a href="https://elischolar.library.yale.edu/gsas_dissertations/1606/">On the Analysis of Average Hyperbolicity and Its Applications</a></h3>
    <p>Ph.D. dissertation, Yale University, 2025. Advisor: Anna C. Gilbert.</p>
  </div>
</section>
